@model IEnumerable<BookShopManagementSystem.Models.Customer>

@{
    ViewData["Title"] = "CustomerManagement";
}

<h1>CustomerManagement</h1>

@* <p>
    <a asp-action="CreateCustomer">Add New Customer</a>
</p>
 *@
<div>
    <div class="col p-2">
        <a class="btn btn-info" asp-controller="Customer" asp-action="CreateCustomer">New Book</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Password)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                    <a class="btn-primary btn-sm p-1" asp-action="EditCustomer" asp-route-id="@item.CustomerId">Edit</a>
               @*  <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> *@
                    <a class="btn-danger btn-sm p-1" asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
