@model IEnumerable<BookShopManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Book Management";
}


<h2 class="text-center mb-5">Book Management</h2>

<div>
    <div class="col p-2">
        <a class="btn btn-info" asp-controller="Book" asp-action="CreateBook">New Book</a>
    </div>
    <div class="col">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>AvailableQuantity</th>
            <th>BookCategory</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Image</th>
            <th>PublishDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Description</td>
                <td>@book.AvailableQuantity</td>
                <td>@book.BookCategory</td>
                <td>@book.ISBN</td>
                <td>@book.Price</td>
                <td> <img src="/bookImages/@book.ImagePath" width="100"></td>
                <td>
                    <a class="btn-primary btn-sm p-1" asp-controller="Book" asp-action="BookEdit" 
                    asp-route-id="@book.BookId">Edit</a>
                    <a class="btn-danger btn-sm  p-1" asp-controller="Book" asp-action="DeleteBook"
                       asp-route-id="@book.BookId" onclick="return confirm('Are you sure')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
